@charset "UTF-8";
.menu{
    position: fixed;
	width: 100px;
    margin: auto;
    padding: 30px;
    overflow: hidden;
    list-style: none;
}

.menu li#recom{
	  width: 115px;
}

.menu li{ 
	color:#000;
	background-color:#e2d8cf;
	text-align:center;
    float: left;
    width:115px;
    height: 30px;
    margin: 5px;
    border: 3px solid; 
}
body{
    font: Verdana,Arial,Geneva,sans-serif;
	font-size: 17px;
    background-color:#260e04;
    color:#e2d8cf;
	
    }
    
div#interface{
    width: 1000px;
    background-color: #000;
    margin: auto;
    padding: 30px;
}
div#interface h1{
	text-align: center;
}
div#interface img{
	
}
hr {
width: 90%;
height: 1px;
background-color: #e2d8cf;
border-width: 0px;
margin-top: 50px;
margin-bottom: 50px;
}

.description{
    text-align: left;
    display: flex;
	margin-left:100px;
	margin-right:100px;
	margin-bottom: 20px;
}

.description img {
    height: 200px;
    width: 235px;
    padding-right:20px;
}
.disc{
    background-color: #121212;
    margin: auto;
	width: 800px;
    padding: 40px;
}
.disc h2{
	text-align: center
}

.ra {
margin-top: -70px;
}
.stp {
margin-top: -70px;
}
