@charset "UTF-8";

body{
    font: Verdana,Arial,Geneva,sans-serif;
	font-size: 17px;
    background-color:#260e04;
    color:#e2d8cf;
	
    }
    
div#interface{
    width: 1000px;
    background-color: #000;
    margin: auto;
    padding: 30px;
}
div#interface h1{
	text-align: center;
}
div#interface img{
	
}
hr {
width: 90%;
height: 1px;
background-color: #e2d8cf;
border-width: 0px;
margin-top: 50px;
margin-bottom: 50px;
}

.description{
    text-align: left;
    display: flex;
	margin-left:100px;
	margin-right:100px;
	margin-bottom: 20px;
}

.description img {
    height: 200px;
    width: 240px;
    padding-right:20px;
}
.talbums h2{
	text-align: center;
}
.talbums img{
	width:12%;
	height:12%;
}
.disc{
    background-color: #121212;
    margin: auto;
	width: 800px;
    padding: 40px;
}
.disc h2{
	text-align: center;
	font-size: 28px;
}


.hg {
    text-align: left;
    display: flex;
	margin-top:-50px;

}

.dys {
    text-align: left;
    display: flex;
    margin-top:-50px;
}

	.ta {
    text-align: left;
    display: flex;
	margin-top:-50px;
}




/*.disc li#theam{                          
   background: url(../dystopia/midia/TheAftermath.jpg) no-repeat ;
   background-position: top;
   background-size: 100% 80% ;
  
}

.disc li#dystopia{
    background: url(../dystopia/midia/dystopia.jpg) no-repeat ;
    background-position: top;
    background-size: 100% 80%;
    
}

.disc li#theam2{
    background: url(../dystopia/midia/TheAftermath.jpg) no-repeat ;
    background-position: top;
    background-size: 100% 80%;
    
}

.disc li#hg{
    background: url(../dystopia/midia/HumanGarbage.jpg) no-repeat ;
   background-position: top;
    background-size: 100% 80%;
   
}

.disc li#hg2{
    background: url(../dystopia/midia/HumanGarbage.jpg) no-repeat ;
     background-position: top;
    background-size: 100% 80%;
    
}

.disc li#dystopia2{
    background: url(../dystopia/midia/dystopia.jpg) no-repeat ;
   background-position: top;
    background-size: 103% 80%;
   
}
.disc audio{
	width:100%;
	outline: none;
position: relative;
}

